#nextButton,#backButton,#editUserName{
	display: none
}

table tr td {
	text-align: center;
    border: 1px solid black;
}
table {
	width: 100%;
	border-collapse: collapse;
}

.usertable{
	margin: auto;
    width: 75%;
    padding: 10px;
}

#rightinfo{
	float: right
}
